body, .container{
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1889bd;

}

.row h1
{
  margin: 10px;
  color: #1889bd;
  font-size: 20pt;
  font-family: 'Calibri';
}

.row
{
  padding: 50px;
  border-radius: 15px;
  background-color: #fff;
}

.row img{
  margin-bottom: 20px;
}

hr
{
  border: none;
}

footer p
{
  margin: 0;
  color: #fff;
  font-size: 8pt;
}